

#slideShowImages{
display:none !important;
}
#slideShowImages_noscript{
display:block !important;
}
#navigation ul li:hover > ul li
{
    display: block;
    background-color: #4F81BC;

}
#navigation ul li:hover > ul li:hover
{
    background-color: #808080;
}
#slideShowImages_noscript img{
float:left;

}